@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');















* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
/* header */
header {
    background-color: #FFFFFF;
    margin-top: 10px;
}

.logo {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 40px;
}
.nav-main{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 15;
    z-index: 9999;
}
.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
    width: max-content;
    padding: 20px;
    border-radius: 60px;
     background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(15px); 
}
.nav-list li a {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    transition:  color 0.3s ease;
}
.nav-list li a:hover {
    color: #78716F;
}
.nav-btn a {
    color: white;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
   
    
}
.nav-btn {
    height: 50px;
    background-color: #485C11;
    width: 130px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    
}
.nav-btn :hover {
    background-color: #798C79;
}

/* hero-section */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    /* padding-top: 30px;  */
    box-sizing: border-box;
}

.main-text {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    z-index: 3;
    padding: 20px 0; 
}

.main-text h1 {
  font-family: "crimson text", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 160px;
  line-height: 85%;
  margin: 0px;
  letter-spacing: -5px;
}

.main-img {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 900px;
}

.main-img img {
    width: 100%;
    height: auto;
    display: block;
}

.bg-container {
    position: absolute;
    bottom: 0; 
    left: 5%; 
    width: 90%; 
    height: 45%; 
    background-color: #8E9C78;
    z-index: 1;
    border-radius: 20px 20px 20px 20px; 
}

/* trust-section */
.logo-list {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 40px;
}
.trust-text h3 {
    color: #6F6F6F;
    font-family: "DM Sans";
    font-size: 15px;
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 20px;
    
}
/* benefits-section */
.container {
    width: 95%;
    margin: 0px auto;
}
.benefit-para {
    margin-top: 20px;
    margin-left: 25px;
}
.benefit-para h3 {
    font-family: "Roboto";
    font-size: 12px;
    margin-top: 70px;
    padding-top: 40px;
    color: #485C11;
}
.benefit-heading {
    margin-left: 30px;
    margin-top: 40px;
    padding-left: 30px;
}
.benefit-heading h2 {
     font-family: "crimson text", sans-serif;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 30px;
}
.benefit-heading p {
  font-family: "DM Sans";
  font-size: 15px;
  color: #6F6F6F;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.benefits-list {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 40px;

}
.benefits-card h3 {
    font-family: "crimson text";
    font-size: 18px;

}
.benefits-card p {
    font-family: "DM Sans";
    font-size: 15px;
    color: #6F6F6F;
}
.hero-img {
    width: 90%;
    margin: 0 auto; 
    position: relative; 
    padding: 80px 0 60px;
}

.hero-img img {
    display: block;
    width: 100%;  
    height: 620; 
    border-radius: 30px;
}
/* product-section */
.product-section {
  width: 100%;
  padding: 70px 10%;
  font-family: "DM Sans", sans-serif;
}

.product-list h2 {
    font-size: 60px;
  font-family: "crimson text";
  /* font-weight: 700; */
  margin-bottom: 15px;

}
.product-list p {
  font-family: "DM Sans";
  font-size: 15px;
  color: #6F6F6F;
}


.pro-container {
  display: flex;
  /* align-items: stretch;    */
  justify-content: space-between;
  gap: 50px;
  /* border: 1px solid black; */
}

.product-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid black; */

}
.pro-list {
    border-bottom: solid #f3e9e9;
}

.pro-list p {
  font-family: "DM Sans";
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
  margin-left: 10px;
}

.pro-list span {
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: bold;
  color: #6F6F6F;
  margin-right: 15px;
}


.pro-img {
  width: 50%;
  /* margin-left: 80px; */
  /* margin-top: -130px;    */
  display: flex; 
  margin-bottom: 50px;     
  /* border: 1px solid black; */
}

.pro-img img {
  width: 100%;
  height: 100%;        
  object-fit: cover;   
  border-radius: 20px;
}
.pro-btn {
    height: 50px;
    background-color: #DFECC6;
    width: 140px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}
.pro-btn:hover {
   background-color: #798c79de;
}
/* about-section */

.about-section {
    text-align: center;
}
.top-p {
font-family: "Roboto";
font-size: 12px;
color: #485C11;
margin-top: 10px;
}
.about-text h2 {
    font-family: "crimson text";
    font-size: 60px;
    color: #000000;
    margin-bottom: 20px;
}
.about-p {
font-family: "DM Sans";
font-size: 15px;
color: #6F6F6F;
}
.about-btn {
    height: 50px;
    background-color: #DFECC6;
    width: 145px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}
.about-btn:hover {
    background-color: #798c79de;
}


/* ricing plans */

.pricing-main {
display: flex;
justify-content: center;
align-items: center;
margin: 20px 0px;


}

.pricing-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #d4d3d3;
    box-shadow: 2px 2px 14px #d4d3d3;
    margin-top: 30px;

}
.pricing-item2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-head{
    padding-top: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #929292;
    font-family: "Rethink Sans";
    font-size: 22px;
    color: #6F6F6F;
}
.item-para{
    padding: 34px 30px;
    text-align: left;
    border-bottom: 1px solid #E9E9E9;
    font-family: "Roboto Mono";
    font-size: 12px;
}