@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
/* header */
header {
    background-color: #FFFFFF;
    margin-top: 10px;
}

.logo {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 40px;
}
.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
    position: absolute;   
    left: 50%;
    transform: translateX(-50%);
}
.nav-list li a {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    transition:  color 0.3s ease;
}
.nav-list li a:hover {
    color: #78716F;
}
.nav-btn a {
    color: white;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
   
    
}
.nav-btn {
    height: 50px;
    background-color: #485C11;
    width: 130px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    
}
.nav-btn:hover {
    background-color: #798C79;
}

/* hero-section */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    /* padding-top: 30px;  */
    box-sizing: border-box;
}

.main-text {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    z-index: 3;
    padding: 20px 0; 
}

.main-text h1 {
  font-family: "crimson text", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 160px;
  line-height: 85%;
  margin: 0px;
  letter-spacing: -5px;
}

.main-img {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 900px;
}

.main-img img {
    width: 100%;
    height: auto;
    display: block;
}

.bg-container {
    position: absolute;
    bottom: 0; 
    left: 5%; 
    width: 90%; 
    height: 45%; 
    background-color: #8E9C78;
    z-index: 1;
    border-radius: 20px 20px 20px 20px; 
}

/* trust-section */
.logo-list {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 40px;
}
.trust-text h3 {
    color: #6F6F6F;
    font-family: "DM Sans";
    font-size: 15px;
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 20px;
    
}
/* benefits-section */
/* .benefits-section {
    padding: 80px 0 60px;
} */
.benefit-para {
    margin-top: 20px;
    margin-left: 25px;
}
.benefit-para h3 {
    font-family: "Roboto";
    font-size: 12px;
    margin-top: 70px;
    padding-top: 40px;
    color: #485C11;
}
.benefit-heading {
    margin-left: 30px;
    margin-top: 40px;
    padding-left: 30px;
}
.benefit-heading h2 {
     font-family: "crimson text", sans-serif;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 30px;
}
.benefit-heading p {
  font-family: "DM Sans";
  font-size: 15px;
  color: #6F6F6F;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.benefits-list {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 40px;

}
.benefits-card h3 {
    font-family: "crimson text";
    font-size: 18px;

}
.benefits-card p {
    font-family: "DM Sans";
    font-size: 15px;
    color: #6F6F6F;
}
.hero-img {
    width: 90%;
    margin: 0 auto; 
    position: relative; 
    padding: 80px 0 60px;
}

.hero-img img {
    display: block;
    width: 100%;  
    height: 620; 
    border-radius: 30px;
}
